<h1>Create a Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :title, "Song title:" %>
  <%= f.text_field :title %>
  <br />

  <%= f.label :title, "Artist name:" %>
  <%= f.text_field :artist_name %>
  <br />

  <%= f.label "Select genre:" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, "id", "name") %>
  <br />

  <h2>Notes</h2>
  <%= f.fields_for :notes do |note_form| %>
    <%= note_form.label :note %>
    <%= note_form.text_area :content, rows: 5, cols: 50 %>
  <% end %>

  <br/>

  <%= f.submit %>
<% end %>
